/* 1 */
:root {
  --font-color: #333;
  --background-color: #faebd7;
  --footer-font-color: #333;
}

/* 2 */
[data-theme="dark"] {
  --font-color: #B41414;
  --background-color: #333;
  --footer-font-color: #fff;
}

/* 3 */
body {
  background-color: var(--background-color);
  color: var(--font-color);
}

.toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    span {
      font-size: 28px;
    }
  }
  
  
.toggle-theme {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;

  input {
    display: none;
  }
}

// IN LIGHT MODE
.slider {
  background-color: #e7dac9;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;

  // BUTTON KNOB
  &:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
}

// IN DARK MODE
input:checked + .slider:before {
  transform: translateX(26px);
}

// BUTTON COLOR IN DARK MODE
input:checked + .slider {
  background-color: rgb(78, 77, 77);
}
  
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
}