.sliderTitle {
    font-weight: 400;
}

.volume-controllers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {
        margin: 0 30px;
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .slider {
        color:#B41414;
        width: 200px;
    }

}
