.Home {

    padding: 30px;
    align-content: center;

    #dropdown {  
        color: var(--font-color);
        background-color: var(--background-color);
        cursor: pointer;
        border: none;
        width: 200px;
        font-size: 22px;
        text-align: center;
        
    }

    #dropdown-slider-div {
        padding-bottom: 19px;
        justify-items: center;
    }

    #dropdown-div {
        padding-right: 10px;
    }

}
