.Home {

    padding: 30px;
    align-content: center;
    
    // header as in top div of home page
    .header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        h1 {
            display: inline;
            color: black;
            font-weight: normal;
            text-decoration: none;
        }

        // Where title is located
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        a {
            text-decoration: none;
            color: #B41414;
        }

        
    }

    #home-img {
        width: 330px;
        height: 450px;
        margin: 50px;

        @media screen and (max-width: 768px) {
            width: 250px;
            height: 330px;
            margin: 10px;
        }
        
        @media screen and (max-width: 480px) {
            width: 200px;
            height: 312px;
            margin: 0;
        }
    } 


}